// scss-lint:disable EmptyRule

// Link
a {

  &:visited {
    color: $visited;
  }

  &:hover, &:focus {

  }

  &:active, &.active {

  }
}

//
// Links
//
li a {
  &.active {

  }
}

//
// Mark, new
//
.marker {
  a {

  }
}

//
// More help link
//
.more-help-link {
  a {

  }
}

 //
 // More link
 //
.more-link {
  a {

  }
}
