//
// Unordered List
//
ul {
  li {

  }
  //
  // Unordered inline list with links
  //
  &.inline {
    li {
      a {

      }
    }
  }
}

//
// Ordered List
//
ol {
  li {

  }
}

//
// Both
//
ul,
ol {

}

//
// List Item
//
li {

}

//
// Nested Items
//
ul ul,
ul ol,
ol ol,
ol ul {

}

ul.unstyled,
ol.unstyled {

}
