// scss-lint:disable EmptyRule

// General Text Formatting
html {
  //Uncomment below if you would like to use rems
  font-size: 62.5%;
}

body {
  //This will make text pretty across browsers
  //and match what clients tend to want
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  //If speed is a concern uncomment.
  //text-rendering: optimizeSpeed;
  // -webkit-font-smoothing: none;
  // -webkit-font-smoothing: subpixel-antialiased;
  @include rem($base-font-size);
  font-family: $font-body;
  //This mixin will allow for rems but defaults to px.
  line-height: $base-line-height;
}

// Blockquote
blockquote {
  &::before {

  }
}

// Headings
#{headings()} {

}

h1 {
  // @include rem($h1-size);
  // font-family: $h1-family;
}

h2 {
  // @include rem($h2-size);
  // font-family: $h2-family;
}

h3 {
  // @include rem($h3-size);
  // font-family: $h3-family;
}

h4 {
  // @include rem($h4-size);
  // font-family: $h4-family;
}

h5 {
  // @include rem($h5-size);
  // font-family: $h5-family;
}

h6 {
  // @include rem($h6-size);
  // font-family: $h3-family;
  // @include font-color($h6-color);
}
